@import "tw-animate-css";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

body {
    font-family: Verdana, sans-serif;
}

button {
    cursor: pointer;
}

@layer base {
    :root {
        --chart-1: oklch(0.646 0.222 41.116);
        --chart-2: oklch(0.6 0.118 184.704);
        --chart-3: oklch(0.398 0.07 227.392);
        --chart-4: oklch(0.828 0.189 84.429);
        --chart-5: oklch(0.769 0.188 70.08);
    }

    .dark {
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);

    --puck-color-rose-01: #fffcfd;
    --puck-color-rose-02: #fff7f9;
    --puck-color-rose-03: #fff1f2;
    --puck-color-rose-04: #ffe4e6;
    --puck-color-rose-05: #fecdd3;
    --puck-color-rose-06: #fda4af;
    --puck-color-rose-07: #fb7185;
    --puck-color-rose-08: #f43f5e;
    --puck-color-rose-09: #e11d48;
    --puck-color-rose-10: #be123c;
    --puck-color-rose-11: #881337;
    --puck-color-rose-12: #4c0519;

    --puck-color-azure-01: #fbfdff;
    --puck-color-azure-02: #f7fbff;
    --puck-color-azure-03: #f0f7ff;
    --puck-color-azure-04: #eff6ff;
    --puck-color-azure-05: #dbeafe;
    --puck-color-azure-06: #bfdbfe;
    --puck-color-azure-07: #93c5fd;
    --puck-color-azure-08: #60a5fa;
    --puck-color-azure-09: #3b82f6;
    --puck-color-azure-10: #2563eb;
    --puck-color-azure-11: #1e40af;
    --puck-color-azure-12: #0c4a6e;

    --puck-color-green-01: #fdfefd;
    --puck-color-green-02: #fcfdfa;
    --puck-color-green-03: #fbfefd;
    --puck-color-green-04: #f6fefb;
    --puck-color-green-05: #f0fdf4;
    --puck-color-green-06: #dcfce7;
    --puck-color-green-07: #bbf7d0;
    --puck-color-green-08: #86efac;
    --puck-color-green-09: #4ade80;
    --puck-color-green-10: #22c55e;
    --puck-color-green-11: #166534;
    --puck-color-green-12: #052e16;

    --puck-color-yellow-01: #fffcf5;
    --puck-color-yellow-02: #fffefb;
    --puck-color-yellow-03: #fefefd;
    --puck-color-yellow-04: #fefefb;
    --puck-color-yellow-05: #fefdf4;
    --puck-color-yellow-06: #fefce8;
    --puck-color-yellow-07: #fef9c3;
    --puck-color-yellow-08: #fef08a;
    --puck-color-yellow-09: #fde047;
    --puck-color-yellow-10: #eab308;
    --puck-color-yellow-11: #ca8a04;
    --puck-color-yellow-12: #713f12;

    --puck-color-red-01: #fffcfc;
    --puck-color-red-02: #fff9f9;
    --puck-color-red-03: #fff7f7;
    --puck-color-red-04: #fef2f2;
    --puck-color-red-05: #fee2e2;
    --puck-color-red-06: #fecaca;
    --puck-color-red-07: #fca5a5;
    --puck-color-red-08: #f87171;
    --puck-color-red-09: #ef4444;
    --puck-color-red-10: #dc2626;
    --puck-color-red-11: #b91c1c;
    --puck-color-red-12: #7f1d1d;

    --puck-color-grey-01: #fefefe;
    --puck-color-grey-02: #fdfdfd;
    --puck-color-grey-03: #fafafa;
    --puck-color-grey-04: #f5f5f5;
    --puck-color-grey-05: #e5e5e5;
    --puck-color-grey-06: #d4d4d4;
    --puck-color-grey-07: #a3a3a3;
    --puck-color-grey-08: #737373;
    --puck-color-grey-09: #525252;
    --puck-color-grey-10: #404040;
    --puck-color-grey-11: #262626;
    --puck-color-grey-12: #171717;

    --puck-color-black: #fafafa;
    --puck-color-white: #18181b;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
